body {
  margin: 0; 
}
.container {
  border: 30 px solid black;
  display: flex;
  height:800px;
  /*flex-direction:column;
  flex-wrap: wrap;
  /*flex-flow: row-reverse wrap-reverse  ;
  /*column-gap: 20px;
  row-gap: 30px;
  gap: 40px 20px;
  justify-content:space-evenly;
  align-items:baseline;
  align-content: space-evenly;*/
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  /*flex-shrink: 0;*/
}
.item-1 {
  background-color: aqua;
  padding-bottom:  3rem;
  /*flex-basis: 200px;*/
  flex: 3 , 0,auto;
  align-self: flex-start;
}
.item-2 {
  background-color: blueviolet;
  padding-bottom: 5rem;
  align-self: flex-end;
}
.item-3 {
  background-color: blue;
  padding-bottom: 4rem;
  /*flex-grow:1;*/
  align-self: center;
}
.item-4 {
  background-color: brown;
  flex-grow: 7;
  align-self: stretch;
}
.item-5 {
  background-color: olive;
  align-self:auto;
}
.item-6 {
  background-color: rgb(153, 51, 141);
}
.item-7 {
  background-color: cadetblue;
  order: 2;
}
.item-8 {
  background-color: orchid;
}
.item-9 {
  background-color: rgb(173, 216, 112);
}
